DB_USER=postgres
PORT=3000
DB_PASSWORD= # Generate a random password for the database
DB_NAME=spyapp
SESSION_SECRET= # Generate a random string for session secret
CLIENT_URL=http://localhost:3000 # Replace with public URL if deploying to production