.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.game-code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-family: monospace;
}

.game-code h1 {
  margin: 0;
  letter-spacing: 2px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-card {
  text-align: center;
}
